extends includes/tpl.pug
append head
  title secret_tech
block body
  .container
    .content
      img(src="./images/logo.svg")
      div.wip Website is under construction
      div.link
        a(href="mailto:info@puzzle.capital") info@puzzle.capital
