@import "./vendor/normalize.css";

* {
  font-family: Roboto;
  color: #111;
}

a {
  color: #005BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

html, body {
  height: 100%;
  background-color: #222222;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content {
  text-align: center;
}

.wip {
  margin-top: 27px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #ccc;
}

.link {
  margin-top: 10px;
}

.link > a {
  color: #66bbff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
